.navitem{
    color:rgb(0, 171, 43) !important;
}
.navitem:hover{

    color: rgb(255, 255, 255) !important;

}

.sidebar-div {
    position: fixed !important ;;
    height:100% !important ;;
    background-color: rgb(255, 255, 255) !important;
}

.itemsdiv{
    border-radius: 10px;
    background-color: rgb(234, 234, 234)!important ;
    place-items: center !important ;
}

.itemsdiv:hover {
    display: grid!important ;
    place-items: center !important ;
    width: 200px!important ; 
    border: #ccc!important ;
    border-width: 10px!important ;
    background-color: rgb(89, 89, 89)!important ;
}

.icons-edit-delete{

    outline-style: groove;
    outline-color:rgb(180, 180, 180);
    color:blue;
}